<div style="display: flex;">
    <div style="background: rgb(0,128,128); background: linear-gradient(0deg, rgba(0,128,128,1) 0%, rgba(153,153,153,1) 100%); height: 100%; width: 90%; text-align:center; margin:auto; position: static;">
        <img src="assets/HeaderWelcome.png" alt="Welcome"><br>
        Welcome to our Dungeons & Dragons 5th Edition Character Creator! Here, you can create a characters, store them in our database, peruse helpful information, all in the convenience of a single page application!<br><br>
        This application was developed by Brittany, Claudia, and Alex as a part of their training as Full-stack Software Engineers with <a href="http://revature.com">Revature</a>. It uses information from the Wizards of the Coast's System Reference Document, which is made available by the <a href="http://www.dnd5eapi.co/">D&D 5th Edition API</a>.
    </div>
</div>