<div class="row justify-content-center">
    <div class="col">
        <div ngbButton class="btn-block">
            <a routerLink="/" class="btn home btn-outline-info btn-block" style="background-color: black;" role="button">Home</a>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="btn-block" *ngIf="!loggedIn">
            <button class="btn btn-outline-info btn-block" style="background-color: black;" id="dropdownLogin" ngbDropdownToggle>Login</button>
            <div class="w-100" ngbDropdownMenu>
                <form class="px-4 py-3">
                    <div class="form-group">
                        <label for="usernameField">Username</label>
                        <input type="text" class="form-control" id="usernameField">
                    </div>
                    <div class="form-group">
                        <label for="passwordField">Password</label>
                        <input type="password" class="form-control" id="passwordField">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">Remember me</label>
                    </div>
                    <button class="btn white btn-outline-info" id="signIn" (click)="signIn()">Sign in</button>
                </form>
                <div id ='unsuccessful'></div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/register">Register</a>
            </div>
        </div>
        <div ngbDropdown class="btn-block" *ngIf="loggedIn">
            <button class="btn btn-outline-info btn-block" id="dropdownUser" style="background-color: black;"
                ngbDropdownToggle>User</button>
            <div class="w-100" ngbDropdownMenu>
                <button ngbDropdownItem>Edit Profile</button>
                <button ngbDropdownItem (click)="signOut()">Log Out</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="btn-block">
            <button class="btn btn-outline-info btn-block" id="dropdownCharacters" style="background-color: black;"
                ngbDropdownToggle>Characters</button>
            <div class="w-100" ngbDropdownMenu>
                <button ngbDropdownItem *ngIf="loggedIn">My Characters</button>
                <button ngbDropdownItem>Character List</button>
                <a routerLink="/characters/new" routerLinkActive="active" ngbDropdownItem>Make New Character</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block btn-block">
            <button class="btn btn-outline-info btn-block" id="dropdownCampaigns" style="background-color: black;" ngbDropdownToggle>Campaigns</button>
            <div class="w-100" ngbDropdownMenu>
                <button ngbDropdownItem *ngIf="loggedIn">My Campaigns</button>
                <button ngbDropdownItem>Campaign List</button>
                <a routerLink="/campaigns/new" routerLinkActive="active" ngbDropdownItem>Make New Campaign</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block btn-block">
            <button class="btn btn-outline-info btn-block" id="dropdownReference" style="background-color: black;" ngbDropdownToggle>Reference</button>
            <div class="w-100" ngbDropdownMenu>
                <div ngbDropdown placement="left-top" class="dropdown dropleft">
                    <button class="btn drpdwn btn-block" id="dropdownRaces" ngbDropdownToggle>Races</button>
                    <div class="w-100" ngbDropdownMenu>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('dragonborn')" ngbDropdownItem>Dragonborn</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('dwarf')" ngbDropdownItem>Dwarf</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('elf')" ngbDropdownItem>Elf</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('gnome')" ngbDropdownItem>Gnome</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('half-elf')" ngbDropdownItem>Half-Elf</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('half-orc')" ngbDropdownItem>Half-Orc</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('halfling')" ngbDropdownItem>Halfling</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('human')" ngbDropdownItem>Human</a>
                        <a routerLink="/reference/races" routerLinkActive="active" (click)="navToRace('tiefling')" ngbDropdownItem>Tiefling</a>
                    </div>
                </div>
                <div ngbDropdown placement="left-top" class="dropdown dropleft">
                    <button class="btn drpdwn btn-block" id="dropdownClasses" ngbDropdownToggle>Classes</button>
                    <div class="w-100" ngbDropdownMenu>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('barbarian')" ngbDropdownItem>Barbarian</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('bard')" ngbDropdownItem>Bard</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('cleric')" ngbDropdownItem>Cleric</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('druid')" ngbDropdownItem>Druid</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('fighter')" ngbDropdownItem>Fighter</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('monk')" ngbDropdownItem>Monk</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('paladin')" ngbDropdownItem>Paladin</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('ranger')" ngbDropdownItem>Ranger</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('rogue')" ngbDropdownItem>Rogue</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('sorcerer')" ngbDropdownItem>Sorcerer</a>
                        <a routerLink="/reference/classes" routerLinkActive="active" (click)="navToClass('warlock')" ngbDropdownItem>Warlock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
