a:link {
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
    font-weight: bold;
}

a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    color: #5bc0de;
  }